.bar {
    position: relative;
    height: 2px;
    width: 1000px;
    margin: 0 auto;
    background: rgb(8, 0, 0);
    margin-top: 350px;
}

.circle {
    position: absolute;
    top: -50px;
    margin-left: -30px;
    height: 100px;
    width: 100px;
    left: 0;
    background: rgb(8, 7, 97);
    border-radius: 30%;
    -webkit-animation: move 4s infinite;
}

.bar>p {
    position: absolute;
    top: -35px;
    right: -85px;
    text-transform: uppercase;
    color: #347fc3;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

@-webkit-keyframes move {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }
    75% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 150px;
        height: 150px;
    }
    100 {
        right: 100%;
    }
}