main {
    display: block;
    height: 100%;
    background-color: #f7f7f7;
    width: calc(100% - 200px);
}

main .main-content {
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
}

.main-content .painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid white;
    margin: 10px 0;
}

.panel-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.panel-50 {
    width: 40%;
}

.panel-row button {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #6e7efb, #a777e3);
    font-size: 22px;
    color: #fff;
}

.panel-row button svg {
    margin: 10px 20px;
    font-size: 40px;
}

.panel-row button:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

div#ajax-content {
    width: 100%;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

div#ajax-content button {
    background: linear-gradient(135deg, #6e7efb, #a777e3);
    color: #fff;
}

div#ajax-content button:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

div#ajax-content label {
    font-size: 14px;
    color: #72777a;
}

div#ajax-content table svg {
    cursor: pointer;
}

.dymanmic-content {
    padding: 20px;
}

div.main-content-title {
    padding: 5px 0;
}

div.main-content-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: #72777a;
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}