div.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

sidebar {
    display: block;
    height: 100%;
    width: 200px;
    background: white;
}

sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 82px;
    border: 0px solid rgba(0, 0, 0, .0625);
    border-right: 0px;
}

sidebar .sidebar-title img {
    height: 48px;
    width: 48px;
}

sidebar .sidebar-title h2 {
    font-size: 15px;
    margin-top: 1px;
}

div.menu {
    border-right: 0px solid rgba(0, 0, 0, .0625);
}

div.menu ul {
    list-style-type: none;
}

div.menu ul li {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.menu ul li svg {
    color: #6e8efb;
    font-size: 12px;
}

div.menu ul li a {
    color: #72777a;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div.menu ul li a:hover {
    color: #4d4d4d;
}

.selected {
    background-color: #5c9fddb0;
    color: black;
}